<h2>{{ this.id ? 'Edit' : 'Create' }} product</h2>

<form [formGroup]="editProductForm" (ngSubmit)="save()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <textarea matInput placeholder="Name" formControlName="name"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <textarea matInput placeholder="Category" formControlName="category"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Current price</mat-label>
    <textarea matInput placeholder="Current price" formControlName="currentPrice"></textarea>
  </mat-form-field>

  <button [disabled]="editProductForm.pristine" type="submit" mat-flat-button color="primary">
    {{ this.id ? 'Update' : 'Create' }}
  </button>
</form>
